.pokelist {
  &__title {
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    &--item {
      margin: 25px;
      width: 200px;
    }
  }
}
